@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?cmych7');
  src:  url('../fonts/icomoon.eot?cmych7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?cmych7') format('truetype'),
    url('../fonts/icomoon.woff?cmych7') format('woff'),
    url('../fonts/icomoon.svg?cmych7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cell-phone:before {
  content: "\e900";
}
.icon-envelope:before {
  content: "\e901";
}
.icon-sent-mail:before {
  content: "\e902";
}
.icon-facebook-app-symbol:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-google-plus-logo:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e906";
}
